.nameInput {
  border-radius: 8px;
  height: 2rem;
  width: 100%;
}

.nameInput:hover {
  background-color: rgb(178, 233, 255);
}

.nameInput::placeholder {
  color: rgb(3, 119, 168);
}

.emailInput {
  border-radius: 8px;
  height: 2rem;
  width: 100%;
}

.emailInput:hover {
  background-color: rgb(178, 233, 255);
}

.emailInput::placeholder {
  color: rgb(3, 119, 168);
}

.passwordInput {
  border-radius: 8px;
  height: 2rem;
  width: 100%;
}

.passwordInput:hover {
  background-color: rgb(178, 233, 255);
}

.passwordInput::placeholder {
  color: rgb(3, 119, 168);
}

.roleSelect {
  border-radius: 8px;
  color: rgb(3, 119, 168);
  height: 2rem;
}

.roleSelect:hover {
  background-color: rgb(178, 233, 255);
}

.btnCadastrar {
  background-color: var(--dark-blue);
  border: 2px solid  var(--dark-blue);
  border-radius: 10px;
}

.btnCadastrar:hover {
  background-color: rgb(3, 119, 168);
  border: 2px solid rgb(3, 119, 168);
  transition: 1000ms;
  translate: 2px -8px;
}

/* .sectionTable {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
} */

/* .trThTableUser {
  border: 2px solid red;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
} */

/* .trTdTableUser {
  border: 2px solid green;
} */

.indexUser {
  color: rgb(0, 24, 19);
}

.nameUser {
  background-color: var(--light-gray);
}

.emailUser {
  background-color: var(--dark-blue);
}

.roleUser {
  background-color: var(--gray);
}

.btnExcluir {
  background-color: var(--gray);
  border: 2px solid var(--gray);
  border-radius: 5px;
}

.btnExcluir:hover {
  background-color: rgb(202, 17, 17);
  border: 2px solid rgb(202, 17, 17);
}
