.orderCard {
  background-color: var(--light-gray);
}

.Pendente {
  background-color: var(--gray);
}

.Entregue {
  background-color: var(--green-alt);
}

.Preparando {
  background-color: var(--off-white);
}
