.btn-viwe-cart {
  background-color: var(--dark-blue);
  border-radius: 6px;
  color: var(--off-white);
}

.container-card-products {
  max-height: 100%;
}

.container-card {
  box-shadow: 10px 5px 5px rgb(117, 109, 109);
}

.img {
  max-height: 15em;
}

.btbAddOrRemove {
  background-color: var(--dark-blue);
}

.infCard {
  background-color: var(--gray);
}

.inputQuantity{
  width: 25%;
}
